.vs/RadioInterferometryWeb/v14/.suo
.vs/RadioInterferometryWeb/vbcs.cache/edb.chk
.vs/RadioInterferometryWeb/vbcs.cache/edb.log
.vs/RadioInterferometryWeb/vbcs.cache/edbres00001.jrs
.vs/RadioInterferometryWeb/vbcs.cache/edbres00002.jrs
.vs/RadioInterferometryWeb/vbcs.cache/edbtmp.log
.vs/RadioInterferometryWeb/vbcs.cache/storage.ide
*.map
